
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-85 p-b-20">
                <form class="login100-form validate-form" method="POST" action="/login">
                <span class="login100-form-title p-b-70">
                    Welcome
                </span>
                <span class="login100-form-avatar">
                    <img src="/img/favicon.ico" alt="AVATAR">
                </span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Enter username">
                    <input class="input100" type="text" name="username" placeholder="Username">
                </div>

                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input type="password" class="input100" name="pw" placeholder="Password"/>
                </div>

                <div class="container-login100-form-btn mt-4">
                    <button class="login100-form-btn" type="submit">
                        Login
                    </button>
                </div>
            </form>
            </div>
        </div>
    </div>

